@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
main {
  width: 100%;
  margin-top: 60px;
}
main section.top {
  position: relative;
  width: 100%;
  height: calc(100dvh - 60px);
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url(img/top_v1.jpg);
  background-size: 100dvw;
  display: grid;
  place-items: center;
  place-content: center;
}
main section.top p.ttl {
  position: absolute;
  left: 1dvw;
  font-size: 2.65rem;
  font-family: "zen kaku gothic new", sans-serif;
  font-weight: 900;
  letter-spacing: -1;
  line-height: 1.1em;
}
main section.top p.subttl {
  position: absolute;
  left: 5dvw;
  top: 70dvh;
  font-size: 1.3rem;
  font-family: "zen kaku gothic new", sans-serif;
  font-weight: 600;
}
main section.top p.subttl a.btn {
  position: relative;
  display: inline-block;
  padding-inline: 1.2em;
  padding-block: 0.1em 0.2em;
  background-color: #fff;
  border: 1px solid #000;
  margin-top: 0.5em;
  font-weight: 500;
  transition: all 0.3s ease-out;
  z-index: 1;
}
main section.top p.subttl a.btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  translate: -101%;
  background-color: #000;
  transition: all 0.3s ease-out;
  z-index: -1;
}
main section.top p.subttl a.btn:hover {
  color: #fff;
}
main section.top p.subttl a.btn:hover::after {
  translate: 0;
}
main section.api {
  width: 100%;
  margin-top: 2rem;
  height: 100dvh;
}
main section.api p.ttl {
  margin-left: 5%;
  font-size: 3rem;
  font-family: "josefin sans", sans-serif;
  font-weight: 700;
}
main section.api table {
  border: 1px solid #000;
  border-collapse: collapse;
  width: 90%;
  margin-inline: auto;
}
main section.api table tr td {
  width: 25%;
  padding: 0.2em 0.4em;
  font-family: "zen maru gothic", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}
main section.api table tr td p {
  display: flex;
  align-items: center;
  gap: 5px;
  background-image: url(img/check.png);
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: 0 0.3em;
  padding-left: 1.2em;
  margin-block: 0.3em;
}
main section.api table tr:first-child td {
  background-color: #000;
  padding-block: 0.4em 0.2em;
  color: #fff;
  font-size: 1.5rem;
  font-family: "josefin sans", sans-serif;
  font-weight: 700;
  text-align: center;
}
main section.api table tr:first-child td:not(:last-child) {
  border-right: 1px solid #fff;
}
main section.api table tr:nth-child(2) td {
  background-color: #efefef;
  font-size: 1.3rem;
  text-align: center;
}
main section.api table tr:nth-child(4) td {
  vertical-align: top;
}
main section.api table tr:last-child td {
  background-color: #336;
  border: 1px solid #336;
  text-align: center;
}
main section.api table tr:last-child td a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  background-image: url(img/right_arrow.png);
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: right center;
}
main section.api table tr:last-child td:not(:last-child) {
  border-right: 1px solid #fff;
}
main section.usecase {
  width: 100%;
  margin-block: 2rem;
}
main section.usecase p.ttl {
  margin-left: 5%;
  font-size: 3rem;
  font-family: "zen kaku gothic new", sans-serif;
  font-weight: 700;
}
main section.usecase .table {
  width: 90%;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}
main section.usecase .table a {
  position: relative;
  display: block;
  width: 32%;
  padding-bottom: 2.8rem;
  margin-top: 2rem;
}
main section.usecase .table a img {
  width: 100%;
  border-radius: 10px;
}
main section.usecase .table a p.secttl {
  margin-top: 0.5rem;
  font-family: "zen kaku gothic new", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}
main section.usecase .table a p.desc {
  margin-left: 0.5em;
  margin-top: 0.2rem;
  font-family: "zen maru gothic", sans-serif;
  font-weight: 500;
  line-height: 1.3;
  font-size: 1.1rem;
}
main section.usecase .table a p.showmore {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  padding-inline: 1em;
  padding-block: 0.3em;
  background-color: #000;
  color: #fff;
  font-family: "zen maru gothic", sans-serif;
  font-weight: 500;
  border-radius: 100px;
  border: 1px solid #000;
  transition: all 0.2s ease-out;
}
main section.usecase .table a p.showmore:hover {
  translate: 0 -0.3rem;
  background-color: #fff;
  color: #000;
  font-weight: 600;
}
main section.xapis {
  position: relative;
  width: 100%;
  height: 810px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(img/bg_texture.png);
  background-size: 100%;
  background-color: #15202b;
}
main section.xapis .left_container {
  width: 50%;
  height: 100%;
}
main section.xapis .left_container .slider {
  width: 100%;
  padding-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  border-bottom: 1px solid #fff;
}
main section.xapis .left_container .slider p {
  padding-inline: 1.5em;
  padding-block: 0.3em;
  font-family: "zen maru gothic", sans-serif;
  font-weight: 500;
  background-color: #fff;
  -webkit-clip-path: polygon(1rem 0%, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 1rem);
          clip-path: polygon(1rem 0%, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 1rem);
  border: 4px solid #fff;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
main section.xapis .left_container .slider p.active {
  border-bottom: 4px solid #46c;
  border-right: 4px solid #46c;
}
main section.xapis .left_container div[class*=_xapis] {
  position: absolute;
  width: calc(50% - 3rem);
  opacity: 0;
  pointer-events: none;
  display: block;
  transition: opacity 0.3s ease-out;
  margin-top: 3rem;
  margin-left: 3rem;
}
main section.xapis .left_container div[class*=_xapis].active {
  opacity: 1;
  pointer-events: all;
}
main section.xapis .left_container div[class*=_xapis] p.ttl {
  font-size: 2.5rem;
  line-height: 1.3;
  font-family: "zen kaku gothic new", sans-serif;
  font-weight: 700;
  color: #fff;
}
main section.xapis .left_container div[class*=_xapis] p.desc {
  font-size: 1.2rem;
  font-family: "zen kaku gothic new", sans-serif;
  font-weight: 500;
  color: #fff;
  margin-top: 2rem;
}
main section.xapis .left_container div[class*=_xapis] p.desc a {
  position: relative;
  color: #fff;
  padding-inline: 0.1em;
  z-index: 1;
  transition: all 0.2s ease-out;
}
main section.xapis .left_container div[class*=_xapis] p.desc a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 1px;
  background-color: #fff;
  z-index: -1;
  transition: all 0.2s ease-out;
}
main section.xapis .left_container div[class*=_xapis] p.desc a:hover {
  color: #000;
}
main section.xapis .left_container div[class*=_xapis] p.desc a:hover::after {
  height: 80%;
}
main section.xapis .left_container div[class*=_xapis] .example {
  margin-top: 1rem;
}
main section.xapis .left_container div[class*=_xapis] .example .example_ttl {
  display: flex;
  align-items: end;
  gap: 1em;
}
main section.xapis .left_container div[class*=_xapis] .example .example_ttl::before {
  content: "例";
  font-family: "zen kaku gothic new", sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 1.8rem;
  margin-right: 0.5em;
}
main section.xapis .left_container div[class*=_xapis] .example .example_ttl p {
  position: relative;
  color: #fff;
  font-family: "zen kaku gothic new", sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 1.2rem;
  padding-inline: 0.8em;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  transition: all 0.2s ease-out;
  z-index: 1;
}
main section.xapis .left_container div[class*=_xapis] .example .example_ttl p::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  bottom: 0;
  width: 80%;
  height: 0;
  background-color: #009;
  border-radius: 10px;
  transition: all 0.2s ease-out;
}
main section.xapis .left_container div[class*=_xapis] .example .example_ttl p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  transition: all 0.2s ease-out;
  z-index: -1;
}
main section.xapis .left_container div[class*=_xapis] .example .example_ttl p.active {
  color: #000;
}
main section.xapis .left_container div[class*=_xapis] .example .example_ttl p.active::before {
  height: 2px;
}
main section.xapis .left_container div[class*=_xapis] .example .example_ttl p.active::after {
  height: 100%;
}
main section.xapis .left_container div[class*=_xapis] .example pre {
  display: none;
  width: 90%;
  background-color: #fff;
  font-size: 0.8rem;
  font-family: "roboto mono", sans-serif;
  font-weight: 500;
  overflow: auto;
  height: 15rem;
  border-radius: 10px;
  border: none;
  word-wrap: break-word;
}
main section.xapis .left_container div[class*=_xapis] .example pre::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
main section.xapis .left_container div[class*=_xapis] .example pre::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 0 10px 10px 0;
}
main section.xapis .left_container div[class*=_xapis] .example pre::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}
main section.xapis .left_container div[class*=_xapis] .example pre::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}
main section.xapis .left_container div[class*=_xapis] .example pre.active {
  display: block;
}
main section.xapis .left_container div[class*=_xapis] a.showmore {
  margin-top: 1.5rem;
  display: inline-block;
  padding-inline: 1em;
  padding-block: 0.3em;
  background-color: #fff;
  color: #000;
  font-family: "zen maru gothic", sans-serif;
  font-weight: 500;
  border-radius: 100px;
  border: 1px solid #fff;
  transition: all 0.2s ease-out;
}
main section.xapis .left_container div[class*=_xapis] a.showmore:hover {
  translate: 0 -0.3rem;
  background-color: #000;
  color: #fff;
  font-weight: 600;
}
main section.xapis .right_container {
  position: relative;
  width: 50%;
  height: 100%;
  -webkit-mask-image: url(img/middle_tear.svg);
          mask-image: url(img/middle_tear.svg);
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
main section.xapis .right_container img {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  animation: api_imga 0.5s both ease-out;
}
main section.xapis .right_container img.active {
  animation: api_imgb 0.5s both ease-out;
  translate: 0;
}
@keyframes api_imga {
  0% {
    translate: 0;
  }
  100% {
    translate: 101%;
  }
}
@keyframes api_imgb {
  0% {
    translate: -101%;
  }
  100% {
    translate: 0;
  }
}

.prettyprint ol.linenums {
  list-style: none;
  counter-reset: linenums_count;
  position: relative;
}

.linenums {
  overflow: auto;
}

.prettyprint ol.linenums > li:before {
  counter-increment: linenums_count;
  content: counter(linenums_count);
  width: 40px;
  text-align: right;
  display: block;
  position: absolute;
  left: 0;
  border-right: 2px solid #ccc;
  padding-right: 3px;
}

.prettyprint ol.linenums > li {
  padding: 0 5px 0 50px;
}/*# sourceMappingURL=style.css.map */